.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* */
.btn-wrapper button {
  background-color: red;
  border: 0px;
  border-radius: 4px;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.cart-wrapper{
  height: 1vh;
  width: 12rem;
  /* border: 1px solid #ccc; */
}

.img-wrapper{
  /* border: 2px solid black ; */
}

.img-wrapper img {
    width: 6em;
    /* border: 2px solid red; */
}


.add-to-cart{
  width: 4em;
  float: right;
  margin-right: 1em;
  cursor: pointer;
}
.add-to-cart img{
  width: 4em;
  /* height: 5em; */
}

/* */














@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



